.background {
   -fx-background-color: #A31621;
}

.box {
    -fx-background-color: #FCF7F8;

}
.titolo {
    -fx-text-fill: #A31621;
    -fx-font-size: 35px;
    -fx-font-weight: bold;
    -fx-font-family: "Century Gothic";
    -fx-text-alignment: center;

}

.bottone{
    -fx-background-color:  #A31621;
    -fx-text-fill: #FCF7F8;
    -fx-background-radius: 6px;
    -fx-padding: 8 16;
    -fx-font-size: 15px;
    -fx-font-family: "Century Gothic";
}
.bottone:hover {
    -fx-font-weight: bold;
}



.descrizione{
    -fx-text-fill: #b3424b;
    -fx-font-family: "Century Gothic", "Harlow Solid Italic";
    -fx-font-size: 14px;
}