/* crea libreria
    crea consiglio
    modifica libreria
    modifica consiglio
    cerca
    cerca avanzata

*/
.background{
    -fx-background-image: url('../icons/copertina_chiara.jpeg');
}

/* box sotto table view */
.sfondo-tabella{
    -fx-background-color: white;
    -fx-background-radius: 6px;
    -fx-border-radius: 6px;
    -fx-border-width: 0px 0px 0px 0px;

}

.titolo{
    -fx-font-size: 30px;
    -fx-font-weight: bold;
    -fx-font-family: "Century Gothic";
    -fx-fill: #a31621;
}

.sottotitolo{
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-font-family: "Century Gothic";
    -fx-text-fill: #a31621;
    -fx-fill: #a31621;
    -fx-background-color: rgba(252, 247, 248, 0.7);
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-alignment: center;

}


.bottone{
    -fx-background-color: #a31621;
    -fx-text-fill: #fcf7f8;
    -fx-font-family: "Century Gothic";
    -fx-font-size: 12;
    -fx-background-radius: 6px;
}

.bottone:hover{
    -fx-animated: zoom;
    -fx-font-weight: bold;
}

.indietro{
    -fx-background-color: transparent;
    -fx-scale-x: 1;
    -fx-scale-y: 1;
    -fx-transition: all 0.2s;
}

.indietro:hover{
    -fx-scale-x: 1.08;
    -fx-scale-y: 1.08;
}

.cerca{
    -fx-background-color: transparent;
    -fx-scale-x: 1;
    -fx-scale-y: 1;
    -fx-transition: all 0.2s;
}

.cerca:hover{
    -fx-background-color: transparent;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

/* MENU A TENDINA */
.sceltaRicerca {
    -fx-background-color: #A31621;
    -fx-text-fill: #FCF7F8;
    -fx-font-size: 12px;
    -fx-font-family: "Century Gothic";
    -fx-border-radius: 0px;

}

.sceltaRicerca .label{
    -fx-text-fill: #fcf7f8;
    -fx-font-size: 12px;
    -fx-font-family: "Century Gothic";
    -fx-border-radius: 0px;
    -fx-alignment: center;
}


.menu-button .context-menu {
    -fx-background-color: rgba(163, 22, 33, 0.7);
    -fx-border-color: rgba(163, 22, 33, 0.7);
    -fx-border-width: 1px;
    -fx-border-radius: 0px;

}

.menu-button .menu-item {
    -fx-background-color: rgba(163, 22, 33, 0.7);
    -fx-text-fill: #fcf7f8;
    -fx-font-size: 12px;
    -fx-font-family: "Century Gothic";
    -fx-border-radius: 0px;
}

.menu-button .menu-item:focused,
.menu-button .menu-item:hover {
    -fx-background-color: rgba(163, 22, 33, 0.7);
    -fx-text-fill: #fcf7f8;
    -fx-border-radius: 0px;
    -fx-font-weight: bold;
}

.field {
    -fx-background-color: rgba(163, 22, 33, 0.7);
    -fx-text-fill: #fcf7f8;
    -fx-font-size: 12px;
    -fx-font-family: "Century Gothic";
    -fx-prompt-text-fill: #fcf7f8;
}

.field .text-field{
    -fx-fill: #fcf7f8;   /* colore del testo inserito */
    -fx-font-size: 12px; /* size del testo inserito */
    -fx-font-weight: bold;
}

.field .prompt-text{
    -fx-fill: #fcf7f8;   /* colore del prompt text */
    -fx-font-size: 12px; /* size del prompt text */
}

/* CHECKBOX */
.checkbox {
    -fx-background-color: rgba(163, 22, 33, 0.7);
    -fx-border-color: rgba(163, 22, 33, 0.7);
    -fx-background-radius: 6px;
    -fx-border-radius: 6px;
}

.checkbox .label {
    -fx-text-fill: #fcf7f8 ;
    -fx-font-weight: bold;
    -fx-font-size: 12px;
    -fx-font-family: "Century Gothic";
    -fx-padding: 2px;
}

.checkbox:selected .label {
    -fx-text-fill: #fcf7f8 ;
    -fx-font-weight: bold;
}

.checkbox .box {
    -fx-background-color: transparent ;
    -fx-border-color: rgba(163, 22, 33, 0.7) ;
    -fx-border-style: solid;
    -fx-min-width: 18px;      /* larghezza minima */
    -fx-min-height: 18px;     /* altezza minima */
    -fx-pref-width: 18px;     /* larghezza preferita */
    -fx-pref-height: 18px;    /* altezza preferita */
    -fx-border-width: 2px;    /* spessore bordo */
    -fx-border-radius: 4px;
    -fx-background-radius: 4px;
}


.checkbox:selected .mark {
    -fx-background-color: #fcf7f8 ;
    -fx-fill: #a31621;
    -fx-padding: 2px;
    -fx-scale-x: 1.3;         /* ingrandisce la spunta orizzontalmente */
    -fx-scale-y: 1.3;         /* ingrandisce la spunta verticalmente */
}

.checkbox .text{
    -fx-fill: #fcf7f8 ;
    -fx-font-size: 12px ;
    -fx-font-weight: bold ;
    -fx-font-family: "Century Gothic";
    -fx-padding: 2px;
}