
/*.colori{
    color: #FCF7F8;
    color: #A31621;
}*/

/* CONTAINERS */
.background{
    -fx-background-color: #A31621;
}

.separator_v, .separator_h {
    -fx-background-color: transparent;
    -fx-padding: 0;
}

.separator_v .line, .separator_h .line {
    -fx-border-width: 0 0 1.5px 0; /* solo linea orizzontale, cambia per verticale */
    -fx-border-color: #FCF7F8;     /* colore desiderato */
    -fx-background-color: transparent;
}

/* TEXT*/
.titolo{
    -fx-font-size: 30px;
    -fx-font-weight: bold;
    -fx-font-family: "Century Gothic";
    -fx-fill: #FCF7F8;
    -fx-effect: dropshadow(gaussian, #A31621, 2, 0, 0, 0);

}

.descrizione{
    -fx-font-size: 14px;
    -fx-font-family: "Century Gothic",cursive;
    -fx-fill: #FCF7F8;
    -fx-font-weight: bold;
}



/* BOTTNI */
.bottone{
    -fx-background-color: #FCF7F8;
    -fx-text-fill: #A31621;
    -fx-font-family: "Century Gothic";
    -fx-font-size: 12;
    -fx-background-radius: 6px;
    -fx-padding: 8 16;

}

.bottone:hover{
    -fx-animated: zoom;
    -fx-font-weight: bold;
}
.indietro{
    -fx-background-color: #A31621;
    -fx-background-image: url('../icons/indietro.png');
    -fx-scale-x: 1;
    -fx-scale-y: 1;
    -fx-transition: all 0.2s;
}

.indietro:hover{
    -fx-scale-x: 1.08;
    -fx-scale-y: 1.08;
}

.cerca{
    -fx-background-image: url("../icons/cerca.png");
    -fx-background-color: #A31621;
    -fx-scale-x: 1;
    -fx-scale-y: 1;
    -fx-transition: all 0.2s;
}

.cerca:hover{
    -fx-background-color: #A31621;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

/* BARRE DI RICERCA */
.barraRicerca {
    -fx-background-color: #FCF7F8;
    -fx-text-fill: #A31621;
    -fx-font-size: 12px;
    -fx-font-family: "Century Gothic";
    -fx-prompt-text-fill: #A31621;
}

.barraRicerca .text-field{
    -fx-fill: #A31621;   /* colore del testo inserito */
    -fx-font-size: 12px; /* size del testo inserito */
    -fx-font-weight: bold;
}

.barraRicerca .prompt-text{
    -fx-fill: #A31621;   /* colore del prompt text */
    -fx-font-size: 12px; /* size del prompt text */
}

/* MENU A TENDINA */
.sceltaRicerca {
    -fx-background-color: #FCF7F8;
    -fx-text-fill: #A31621;
    -fx-font-size: 12px;
    -fx-font-family: "Century Gothic";

    -fx-border-radius: 0px;

}

.sceltaRicerca .label{
    -fx-text-fill: #A31621;
    -fx-font-size: 12px;
    -fx-font-family: "Century Gothic";
    -fx-border-radius: 0px;
}


.menu-button .context-menu {
    -fx-background-color: #FCF7F8;
    -fx-border-color: #FCF7F8;
    -fx-border-width: 1px;
    -fx-border-radius: 0px;

}

.menu-button .menu-item {
    -fx-background-color: #FCF7F8;
    -fx-text-fill: #A31621;
    -fx-font-size: 12px;
    -fx-font-family: "Century Gothic";
    -fx-border-radius: 0px;
}

.menu-button .menu-item:focused,
.menu-button .menu-item:hover {
    -fx-background-color: #FCF7F8;
    -fx-text-fill: #A31621;
    -fx-border-radius: 0px;
    -fx-font-weight: bold;
}

/* LIST VIEW*/

.lista {
    -fx-background-color: #b3424b;
    -fx-text-fill: #FCF7F8;
    -fx-font-size: 12px;
    /*-fx-opacity: 0.2;*/
    -fx-font-weight: bold;
    -fx-font-family: "Century Gothic";
    -fx-background-radius: 6px;
}

.lista .list-cell {
    -fx-background-color: #b3424b;
    -fx-text-fill: #FCF7F8;
    -fx-font-size: 12px;
    -fx-font-family: "Century Gothic";
}

.lista .list-cell:selected {
    -fx-background-color: #FCF7F8;
    -fx-text-fill: #A31621;
    -fx-font-weight: bold;
    -fx-font-size: 12px;
    -fx-font-family: "Century Gothic";
}

.lista .list-cell:hover {
    -fx-font-weight: bold;
}

/* LIST VIEW: scroll-bar */
.scroll-bar {
    -fx-background-color: transparent;
    -fx-padding: 0;
    -fx-pref-width: 10px;   /* larghezza barra verticale */
    -fx-pref-height: 10px;  /* altezza barra orizzontale */
}

.scroll-bar .track {
    -fx-background-color: #FCF7F8;
    -fx-background-radius: 4px;
    -fx-border-width: 0;
}

.scroll-bar .thumb {
    -fx-background-size: cover;
    -fx-background-color: transparent;
    -fx-background-radius: 8px;
    -fx-pref-width: 24px;
    -fx-pref-height: 24px;
    -fx-border-width: 0;
}

.scroll-bar .thumb:hover {
    -fx-background-color: #A31621;
}

.scroll-bar .increment-button,
.scroll-bar .decrement-button {
    -fx-background-color: transparent;
    -fx-padding: 0;
    -fx-shape: "null"; /* rimuove la forma predefinita */
    -fx-background-insets: 0;
    -fx-border-width: 0;
    -fx-min-width: 0;
    -fx-min-height: 0;
    -fx-pref-width: 0;
    -fx-pref-height: 0;
}
.scroll-bar .increment-button:hover,
.scroll-bar .decrement-button:hover {
    -fx-background-color: transparent;
    -fx-padding: 0;
    -fx-shape: "null"; /* rimuove la forma predefinita */
    -fx-background-insets: 0;
    -fx-border-width: 0;
    -fx-min-width: 0;
    -fx-min-height: 0;
    -fx-pref-width: 0;
    -fx-pref-height: 0;
}
.scroll-bar .increment-button:selected,
.scroll-bar .decrement-button:selected {
    -fx-background-color: transparent;
    -fx-padding: 0;
    -fx-shape: "null"; /* rimuove la forma predefinita */
    -fx-background-insets: 0;
    -fx-border-width: 0;
    -fx-min-width: 0;
    -fx-min-height: 0;
    -fx-pref-width: 0;
    -fx-pref-height: 0;
}

