
.colori{
    color: #4a0022;
    color: #c7e7f5;
}

/* CONTAINERS */
.background{
    -fx-background-color: #4a0022;
    -fx-background-image: url("../icons/img_biblioteca.jpg");
}


.ricerca{
    -fx-background-color: #4a0022; /* colore hbox*/
    -fx-border-radius: 6; /* bordo arrotondato */
}

/* TEXTS */

.titolo{
    -fx-font-size: 30px;
    -fx-font-weight: bold;
    -fx-font-family: "Century Gothic";
    -fx-text-fill: #264D73;
    -fx-text-shadow:  #4a0022 2px 2px 2px;
}



/* BOTTONI */

.indietro {
    -fx-background-color: transparent;
    -fx-border: none;
    -handle: cursor;
    -fx-background-image: url("../icons/indietro1.png");
}

.indietro:hover {
    -fx-animated: zoom ;
    -fx-background-color: none;
}

.cerca{
    -fx-background-image: url("../icons/cerca.png");
    -fx-border: none;
    -handle: cursor;
    -fx-background-color: transparent;
}

.cerca:hover{
    -fx-animated: zoom;
    -fx-background-color: none;
}

/* FIELDS */

.barraRicerca {
    -fx-background-color: #4a0022;
    -fx-text-fill: #c7e7f5;
    -fx-font-size: 14px;
    -fx-font-family: "Century Gothic";
    -fx-font-weight: bold;
    -fx-prompt-text-fill: #c7e7f5 ;
}

.barraRicerca .text-field{
    -fx-fill: #c7e7f5;   /* colore del testo inserito */
    -fx-font-size: 16px; /* size del testo inserito */
}

.barraRicerca .prompt-text{
    -fx-fill: #c7e7f5;   /* colore del prompt text */
    -fx-font-size: 14px; /* size del prompt text */
}


/* LISTA LIBRI */

.listaLibri {
    -fx-background-color: #264D73;
    -fx-text-fill: #c7e7f5;
    -fx-font-size: 14px;
    -fx-opacity: 0.87;
    -fx-font-weight: bold;
    -fx-font-family: "Century Gothic";
}

/* MENU TENDINA */
.sceltaRicerca {
    -fx-background-color: #4a0022;
    -fx-text-fill: #c7e7f5;
    -fx-font-size: 14px;
    -fx-font-family: "Century Gothic";
    -fx-font-weight: bold;

}

.sceltaRicerca .label{
    -fx-text-fill: #c7e7f5;
    -fx-font-size: 14px;
    -fx-font-family: "Century Gothic";
}


.menu-button .context-menu {
    -fx-background-color: #4a0022;
    -fx-border-color: #4a0022;
    -fx-border-width: 1px;
}

.menu-button .menu-item {
    -fx-background-color: #4a0022;
    -fx-text-fill: #c7e7f5;
    -fx-font-size: 14px;
    -fx-font-family: "Century Gothic";
}

.menu-button .menu-item:focused,
.menu-button .menu-item:hover {
    -fx-background-color: #264D73;
    -fx-text-fill: #c7e7f5;
}