/*.colori{
    color: #FCF7F8;
    color: #A31621;
}*/

.background {
    -fx-background-image: url('../icons/copertina.jpeg');
}

.box{
    -fx-background-color: #A31621;
}

.titolo{
    -fx-font-size: 30px;
    -fx-font-weight: bold;
    -fx-font-family: "Century Gothic";
    -fx-text-fill: #FCF7F8;
}

.etichetta{
    -fx-font-size: 20px;
    -fx-text-fill: #FCF7F8;
    -fx-font-family: "Century Gothic";
    -fx-font-weight: bold;
}



.field{
    -fx-background-color: transparent;
    -fx-text-fill: #FCF7F8;
    -fx-font-size: 16px;
    -fx-font-family: "Century Gothic";
    -fx-border-color: #FCF7F8;
    -fx-border-width: 0 0 2px 0;
    -fx-border-radius: 6px;
    -fx-padding: 8 16;
}
.bottone{
    -fx-background-color: #FCF7F8;
    -fx-text-fill: #A31621;
    -fx-background-radius: 6px;
    -fx-padding: 8 16;
    -fx-font-size: 15px;
    -fx-font-family: "Century Gothic";
    -fx-font-weight: normal;
}
.bottone:hover {
    -fx-font-weight: bold;
    -fx-animated: zoom;
}

.reg{
    -fx-text-fill: #FCF7F8;
    -fx-font-family: "Century Gothic", "Harlow Solid Italic";
}

.indietro{
    -fx-background-color: transparent;
    -fx-scale-x: 1;
    -fx-scale-y: 1;
    -fx-transition: all 0.2s;
}

.indietro:hover{
    -fx-scale-x: 1.08;
    -fx-scale-y: 1.08;
}


.errore{
    -fx-fill: #fcf7f8;
    -fx-font-family: "Century Gothic";
    -fx-font-weight: bold;
    -fx-font-size: 20px;
    -fx-animated: underline;
}