.titolo{
    -fx-font-size: 30px;
    -fx-font-weight: bold;
    -fx-font-family: "Century Gothic";
    -fx-text-fill: #A31621;
}
.background{
    -fx-background-color: #FCF7F8;

}

.box{
    -fx-background-image: url("../icons/copertina.jpeg");
}

.descrizione{
    -fx-font-size: 17px;

    -fx-text-fill: #b3424b;
    -fx-font-family: "Century Gothic";
    -fx-alignment: center;
}

.bottone{
    -fx-background-color: #A31621;
    -fx-text-fill: #FCF7F8;
    -fx-background-radius: 6px;
    -fx-padding: 8 16;
    -fx-font-family: "Century Gothic";
    -fx-font-size: 15px;
}

.bottone:hover{
    -fx-font-weight: bold;
}

